@font-face {
    font-family: 'gorillaregular';
    src: url('../fonts/gorilla_black-webfont.woff2') format('woff2'),
         url('../fonts/gorilla_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: white;
    position: relative;
}

#loading-text{
    color: red;
}

img{
    width: 100%;
    height: auto;
}
#landing-page{
    margin-top: 0;
    padding: 0;
}
#music-page{
    margin-top: 75px;
    padding: 40 0;
}

#photo-page{
    margin-top: 75px;
    padding: 40 0;
}
.margin-zero{
    margin-top: 0 !important;
}

.lightboxOverlay{
    height: 100%;
    overflow-y: hidden !important;
}


.col-md-3{
    margin-bottom: 40px;
}
.vinyl-cover{
    position: relative;
    z-index: 2;
}

.vinyl{
    position: absolute;
    transition: all ease 0.4s;
    top: 0;
    left: 0;
    z-index: 1;
}

#album-poster{
    position: relative;
    display: block;
    overflow: visible;
    transition: all ease 0.4s;
    box-shadow: none;
}

#album-poster:hover{
    transform: scale(1.02) translateY(-5px);
    box-shadow: 0 7px 20px #9e9e9e;
}

#album-poster:hover .vinyl{
    transform: translateY(-50px);
}

.lb-close{
    display: none;
}

.album-poster:hover{
    transform: scale(1.02) translateY(-5px);
    box-shadow: 0 7px 20px #9e9e9e;
}

h1{
    margin: 50px;
}
h3{
    font-size: 24px;
    margin-bottom: 34px;
    border-bottom: 4px solid #e6e6e6;
    padding-bottom: 15px;
}
p{
    font-size: 15px;
}
h4{
    font-size: 20px;
    margin-top: 15px;
    font-weight: 700;
}
h5{
    font-size: 15px;
}

.modal-title h5{
    color: white;
}

.modal-content{
    max-height: 850px;
}

.modal-header{
    border-bottom: 0 none;
}

.modal-content button{
    margin-left: 95%;
    margin-bottom: 5px;
}

h6{
    font-size: 11px;
}
h7{
    font-family: 'gorillaregular';
    position: absolute;
    left: 50%;
    margin-left: -90px !important;
    display: block;
}

#aplayer{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    margin: 0;
    box-shadow: 0 -2px 2px #dadada;
    background-color: #fff;
    transition: all ease 0.5s;
}
#aplayer.showPlayer{
    bottom: 0;
}

/* UNCOMMENT FOR CENTERED LOGO
.navbar-brand
{
    
    position: absolute;
    left: 50%;
    margin-left: -40px !important;
    display: block;
    
    width: 100px;
}
*/

.stop-scrolling {
    height: 100%;
    overflow-y: hidden;
    top: 0;
    z-index: 1000;
}

.gallery{
    max-height: 100%;
    height: 100%;
}

.lightboxOverlay{
    max-height: 100% !important;
    overflow-y: hidden !important;
    background-color: white !important;
    border-color: white !important;
    opacity: 1 !important;
    position: fixed !important;
    top: 0;
}

.lightbox{
    top: 7% !important;
    position: fixed !important;
    overflow-y: hidden !important;
}

.gallery img{
    display: none;
    position: absolute;

}

.modal-dialog{
    max-width: 75%;
    max-height: 500px;
}

.modal-content
{
    background-color: rgb(13, 13, 14);
}

.carousel {
    height: 850px;
}

.carousel-item,

.carousel-inner {
    align-content: center;
    height: 90%;
}

.carousel-item{
    top: 0;
    height: 100%;
}

.carousel-item img {
    height: 100%;
    width: auto;
    min-width: 500px;
    background-size: cover;
    margin: 0 auto;
}

.carousel-portrait img{
    max-width: 33%; /*37*/
}

.carousel-landscape img{
    max-width: 100%; /*37*/
}

.carousel-landscape-80 img{
    max-width: 80%; /*37*/
}

.carousel-inner{
    /*max-height: 850px;*/
}

.carousel-item {
    text-align: center;
}

.photoshoot-thumb{
    position: relative;
    display: block;
    overflow: hidden;
    transition: all ease 0.4s;
    box-shadow: none;
}

.photoshoot-thumb:hover{
    transform: scale(1.02) translateY(-5px);
    box-shadow: 0 7px 20px #9e9e9e;
}

.game-thumb{
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: all ease 0.4s;
}

.game-thumb:hover{
    transform: scale(1.02) translateY(-5px);
    box-shadow: 0 7px 20px #9e9e9e;
}

.navbar{
    z-index: 99;
}

.navbar-brand{
    width: 80px;
    height: 50px;
    background-image: url("../img/ps-logo-waves-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all ease 0.5s;
}

#landing-header-text{
    color: rgba(225,225,225,0);
    transition: all 0.4s;
}

@media only screen and (max-width: 991px)
{
    .navbar-brand{
        width: 60px;
        height: 30px;
        background-image: url("../img/ps-logo-waves-white.svg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 50%;
        margin-left: -30px !important;
        top: 4;
        align-self: flex-start;
        justify-self: center;
        display: block;
        transition: all ease 0.5s;
    }

    #btn-change-layout{
        margin: 10px;
    }

    h3{
        font-size: 24px;
        margin-bottom: 5px;
        border-bottom: 4px solid #e6e6e6;
        padding-bottom: 15px;
    }

    .navbar-brand img{
        display: none;
    }

    .music-page-header-logo{
        /* background-image: url("../img/ps-logo-waves.svg"); */
    }


    h7{
        align-self: flex-start;
        position: absolute;
        left: 50%;
        margin-left: -65px !important;
        display: block;
        margin-top: 28px;
        font-size: 11px;
    }
}

.header{
    width: 100%;
}

#header-logo img
{
    margin-top: 245px;
    width: 600px;
    height: 300px;
}

#waves-records-logo img
{
    width: 200px;
    height: 200px;
}

#waves-records-banner
{
    width: 500px;
    height: 300px;
}

.black
{
    background-color: black;
}

.banner
{
    height: 300px;
    width: 100%;
}

@media only screen and (max-width: 612px)
{
    #header-logo img
    {
        margin-top: 245px;
        width: 400px;
        height: 200px;
    }
}


@media only screen and (max-width: 512px)
{
    #waves-records-banner
    {
        width: 300px;
        height: 100px;
    }

    .banner
    {
        height: 100px;
        width: 100%;
    }
}



@media only screen and (max-width: 412px)
{
    #header-logo img
    {
        margin-top: 245px;
        width: 300px;
        height: 150px;
    }
}

#full-width-banner{
    width: 100%;
    height: 1000px;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/landscape-1.jpg');
}

.card-title{
    font-size: 20px;
}

.card-author{
    font-size: 15px;
    margin-bottom: 10px;
}

.card-category{
    margin-top: 0px;
}

/*
.navbar{
    position: relative;
    height: 90px;
}
*/